version: '3.8'

services:
  api:
    build:
      context: ./backend
    env_file:
      - .env
    ports:
      - '4000:4000'
    depends_on:
      - mongo
    command: ['node', 'dist/server.js']
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - '6379:6379'

volumes:
  mongo-data:

